<footer>
  <div style="display:flex">
    {{- range $index, $key := .Site.Params.Social -}}
    <a class="soc" href="{{ $key.url }}" rel="me" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
    <a class="border"></a>
    {{- end -}}
  </div>
  <div class="footer-info">
    {{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . }} {{ end }}
  </div>
</footer>
{{ if not .Site.IsServer }}
<!--{{ template "_internal/google_analytics_async.html" . }}-->
{{ end }}

{{- if (isset .Site.Params "social") -}}
<script>
  feather.replace()
</script>
<script src="https://cdn.jsdelivr.net/npm/crypto-js@4.1.1/crypto-js.min.js"></script>

<script>
  const keyInput = document.getElementById("key");
  const contentEl = document.getElementById("content");

  const encryptedText = contentEl.textContent.trim();

  keyInput.addEventListener("input", () => {
    const password = keyInput.value.trim();

    if (!password) {
      contentEl.textContent = encryptedText;
      return;
    }

    try {
      const bytes = CryptoJS.AES.decrypt(encryptedText, password);
      const decrypted = bytes.toString(CryptoJS.enc.Utf8);

      if (!decrypted) throw new Error("Çözülemedi");

      contentEl.textContent = decrypted;
    } catch {
      contentEl.textContent = encryptedText;
    }
  });
</script>


{{- end -}}
